<audio id="audio">
    <source src="assets/sounds/Mmm-yummy.mp3" type="audio/mpeg">
</audio>
<h1 class="text-center m-5 .wrap display-1">EAT THE BURGER!</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="m-2 text-center">Available burgers!</h2>
        </div>
        <div class="col"></div>
        <div class="col">
            <h2 class="m-2 text-center">Devoured burgers!</h2>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <!--<h2 class="m-4 text-center">Available burgers!</h2>-->
            <ul class="m-4 scroll">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="mt-4 ml-2">
                    <div class="row">
                        <div class="col-7 burgername">{{burger_name}}</div>
                        <button class="devour col-4 text-center btn btn-dark" data-id="{{id}}" data-devoured="{{devoured}}">DEVOUR!
                        </button>
                        <div class="col-1"></div>
                    </div>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col">
            <img src="assets/img/burgercombo.png" class="img-fluid mt-4 mb-4">
            <h2 class="m-4 text-center">Add a burger!</h2>
            <form class="create-form text-center">
                <label for="burgerAdd" class="burgername">BURGER NAME:</label>
                <input type="text" id="burgerAdd" name="name">
                <button type="submit" class="m-2 btn btn-dark">Add Burger</button>
            </form>
        </div>
        <div class="col">
            <!--<h2 class="m-4 text-center">Devoured burgers!</h2>-->
            <ul class="m-4 scroll">
                {{#each burgers}}
                {{#if devoured}}
                <li class="mt-4 ml-2">
                    <div class="row">
                        <div class="col-7 burgername">{{burger_name}}</div>
                        <div class="col-5"></div>
                </li>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>